<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>tuneTalk - Profile</title>
    <style>
        body {
          padding: 25px;
          background-color: black;
          color: white;
          font-size: 25px;
        }
        h5,
        p
         {
            background-color:black;
            color:white;
        }
   
        </style>
</head>
<body >
<!-- Navbar with Home, My comments, Profile, dropmenu and search function -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">tuneTalk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="true">
          Features
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Most Liked Songs</a>
          <a class="dropdown-item" href="#">Most commented Songs</a>
          <a class="dropdown-item" href="#">Most liked comments</a>
        </div>
    </li>
        <li>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </li>
    </ul>
  </div>
</nav>
<!-- Horizontal card with user image, ID and bios -->
<div class="card mb-3" style="background-color:black;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"  style="max-width: 100%;
        height: auto;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" >
          <h5 class="card-title">userID:</h5>
          <p class="card-text">Bios: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">You have tuneTalked x days</small></p>
        </div>
      </div>
    </div>
  </div>


  <div>Liked Songs</div>
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="https://images.unsplash.com/photo-1663165850242-f6a0049412cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"  width=" 100px"
  height= "75px" class="img-thumbnail" alt="..." href="">
  <img src="..." class="img" alt="..." href="">

  <div>Recent Comments</div>

<div class="row row-cols-1 row-cols-md-3" style="background-color:black;">
  <div class="card border-primary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="background-color:black;">songName</div>
    <div class="card-body text-primary"style="background-color:black;">
      <h5 class="card-title">userID replied:</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="background-color:black;">songName</div>
    <div class="card-body text-secondary"style="background-color:black;">
      <h5 class="card-title">userID replied</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-primary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="background-color:black;">songName</div>
    <div class="card-body text-primary"style="background-color:black;">
      <h5 class="card-title">userID replied:</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="background-color:black;">songName</div>
    <div class="card-body text-secondary"style="background-color:black;">
      <h5 class="card-title">userID replied</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div><div class="card border-primary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="background-color:black;">songName</div>
    <div class="card-body text-primary"style="background-color:black;">
      <h5 class="card-title">userID replied:</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="background-color:black;">songName</div>
    <div class="card-body text-secondary"style="background-color:black;">
      <h5 class="card-title">userID replied</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
    </div>


   </body>
</html>