<h1>album</h1>

{{#each albums as |album| }}
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{album.id}}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<p>123</p>
{{/each}}