
{{#each albums as |album| }}

<div class="card">
    <div class="card-header">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{album.id}}" width="352" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    <div class="card-body">
        <span class="tag tag-pop">Pop</span>
        <h4>{{album.name}}</h4>
        {{!-- <div class="user">
            <img src="https://avatars.dicebear.com/api/avataaars/trew.svg" width="40px" height="40px" id="user0picture" />
            <div class="user-info">
                <h5>{{user_id}}</h5>
                <small>2h ago</small>
            </div>
        </div> --}}
    </div>
</div>
{{/each}}