*{
    background-color: var(--dark);
    color: var(--light);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark);
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: var(--dark);
  border-radius: 10px;
  box-shadow: 0 2px 20px #121212;
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  /* min-height: 250px; */
}

.tag {
  background: var(--dark);
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-pop {
  background-color: #e21aba;
}
.tag-rap {
  background-color: #10e930;
}
.tag-indie {
  background-color: #18b8f2;
}

.card-body p {
  font-size: 13px;
  /* margin: 0 0 40px; */
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: var(--light);
}

 .no-button {
  background: none;
  border: none;
  cursor: pointer;
  /* color: #1b89bc; */
  text-decoration: none;
  font-size: 100%;
}

/* .no-button:hover {
  color: #065b83;
  text-decoration: underline;
} */
